# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.WxInjector.iml
# Datasource local storage ignored files
/../../../../../../../:\Documents\Projects\WxInjector\.idea\.idea.WxInjector\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
